<div class="row">
    <div class="col-md-6">
        <p>PIE CHART</p>
        <hr>
        <div class="card-style" id='pie'>

            <app-pie></app-pie>
        </div>
    </div>
    <div class="col-md-6">
        <p>NUMBER CARD</p>
        <hr>
        <div class="card-style" id='number'>

            <app-number></app-number>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <p class="mt-3">BAR CHART</p>
        <hr>
        <div class="card-style" id='bar'>

            <app-bar></app-bar>
        </div>
    </div>
    <div class="col-md-6">
        <p class="mt-3">Line CHART</p>
        <hr>
        <div class="card-style" id='line'>

            <app-line></app-line>
        </div>
    </div>
</div>